

 #banner {

 width: 100% ;    

 }

 .principal{
    background-color: #cccccc;
    padding:30px;
    
 }

 .titulo-principal {
    padding-left: 20px;
 }

 
 .titulocentralizado { 
    text-align: center;

 }

 p {
     text-align: center;
 }

#missao {
   font-size: 20px;

}
  
em strong {
    color: #ff0000;

}

.itens {
 font-style: italic;
}

.Benefícios {
    background: #ffffff;
    padding: 20px;
}

 h2 {
    text-align: center ;

}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;


}

.imagembenefícios{
    width: 50%;

}

   

